<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Some Website</title>
</head>
<body>
   {{> header}}
   <p>Site is DOWN for maintenance! Our apologies! Please try later.</p>

   {{> footer}}
</body>
</html>
